body {
    color: black;
    padding: 20px;
    background-color: navy;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1{
    color:whitesmoke;
}
ul {
    background: black;
    margin: 0;
    padding: 20px;
    width:185px;
}
ul li {
    color:white;
    margin: 5px;
    background: #cce5ff;
}
